.btn {
  width: 100%;
  display: inline-block;
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: center;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  color: $second-color;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid $second-color;
  background-color: #ffffff;
  &:hover {
    color: #ffffff;
    background-color: $second-color;
  }
  &:active {
    color: #8d8d8d;
    background-color: $second-color;
  }
}
