.btn {
  width: 100%;
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  color: $second-color;
  text-transform: uppercase;
  border: 2px solid $second-color;
  background-color: #ffffff;
  &--popup-cart {
    color: #ffffff;
    background-color: #63d1bb;
  }

}
