.container {
  width: 320px;
  margin: 0 auto;
  background-color: #f0e0fd;
}

/*.main-content,
.main-page-header,
.inner-page-header,
.page-footer  {
  padding: 30px;
}*/

header, main, footer {
  outline: 1px solid red;
}

.visually-hidden {
  display: none;
}

img {
  max-width: 100%;
  height: auto;
}

@media #{$tablet-width} {
  .container {
    width: 768px;
  }
  .visually-hidden {
  display: block;
  }
}

@media #{$desctop-width} {

}
