.container {
  width: 320px;
  margin: 0 auto;
  background-color: #f0e0fd;
  padding-left: 30px;
  padding-right: 30px;
}

/*.main-content,
.main-page-header,
.inner-page-header,
.page-footer  {
  padding: 30px;
}*/

header, main, footer {
  outline: 1px solid red;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

img {
  max-width: 100%;
  height: auto;
}

@media #{$tablet-width} {
  .container {
    width: 768px;
    padding-left: 50px;
    padding-right: 50px;
  }
  .visually-hidden {
  display: block;
  }
}

@media #{$desctop-width} {

}
