@mixin main-caption() {
  margin: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 27px;
  line-height: 30px;
  font-weight: bold;
  color: $main-color;
  @media #{$tablet-width} {
    font-size: 43px;
    line-height: 50px;
  }
  @media #{$desktop-width} {
    font-size: 53px;
    line-height: 57px;
  }
}

@mixin container() {
  margin: 0 auto;
  width: 320px;
//  outline: 1px solid blue;
  @media #{$tablet-width} {
    width: 768px;
  }
  @media #{$desktop-width} {
    width: 1150px;
  }
}

@mixin adapive-padding() {
  padding-left: 30px;
  padding-right: 30px;
  @media #{$tablet-width} {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@mixin padding-margin-0() {
  padding: 0;
  margin: 0;
}

@mixin input-style() {
  position: absolute;
  top: 10px;
  left: 0;
  display: inline-block;
  width: 40px;
  height: 40px;
  font-size: 0;
  border: 2px solid $second-color;
  @media #{$tablet-width} {
    width: 52px;
    height: 52px;
  }
}

@mixin hover-active-fill() {
    &:hover {
      fill: $turquoise-color;
    }
    &:active {
      fill: $turquoise-light-color;
    }
}
