@mixin main-caption() {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 27px;
  line-height: 30px;
  font-weight: bold;
  color: $main-color;
  text-align: center;
  background-color: $bg-color;
  @media #{$tablet-width} {
    font-size: 43px;
    line-height: 50px;
  }
  @media #{$desctop-width} {
    font-size: 53px;
    line-height: 57px;
  }
}

@mixin container() {
  margin: 0 auto;
  width: 320px;
  outline: 1px solid blue;
  @media #{$tablet-width} {
    width: 768px;
  }
  @media #{$desctop-width} {
    width: 1150px;
  }
}

@mixin adapive-padding() {
  padding-left: 30px;
  padding-right: 30px;
  @media #{$tablet-width} {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@mixin padding-margin-0() {
  padding: 0;
  margin: 0;
}
