// Цвета
$main-color: #000000;
$second-color: #444444;
$bg-color: #f1f1f1;
$decor-color: #63d1bb;
$turquoise-color: #46c1ae;
$turquoise-light-color: rgba(70, 193, 174, 0.5);


// Брейкпоинты
$mobile-width-only: "(max-width: 767px)";
$mobile-width: "(min-width: 320px)";
$tablet-width: "(min-width: 768px)";
$desktop-width: "(min-width: 1150px)";
$retina: "(min-resolution: 144dpi), (min-resolution: 1.5dppx)";
