// Цвета
$main-color: #000000;
$second-color: #444444;
$bg-color: #f1f1f1;


// Брейкпоинты
$mobile-width-only: "(max-width: 767px)";
$mobile-width: "(min-width: 320px)";
$tablet-width: "(min-width: 768px)";
$desctop-width: "(min-width: 1150px)";
