.about {
  @include container;
  @include adapive-padding;
  &__caption {
    @include main-caption;
  }

  &__item {
    padding-top: 75px;
    padding-bottom: 20px;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 17px;
    line-height: 20px;
    font-weight: 700;
  }
  &__items {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    list-style: none;
  }
}

@media #{$tablet-width} {
  .about {
    &__caption {

    }

    &__item {
      position: relative;
      box-sizing: border-box;
      padding-right: 35px;
      width: 334px;
      &--ico-flower {

      }
      &--ico-money {

      }
      &--ico-heart {

      }
      &--ico-clew {

      }
      &--ico-rocket {

      }
      &--ico-gift {

      }
    }


    &__items {

    }
  }
}
