.catalog {
  outline: 1px solid blue; //Временно
  @include container;
  @include adapive-padding;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  font-family: "Open Sans", "Arial", sans-serif;
  color: $main-color;
}
.catalog__item {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 30px;
  border: 1px solid $bg-color;
}
.catalog__img-link {
  display: inline-block;
}
.catalog__caption {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
}
.catalog__caption-name {
  color: $main-color;
  text-decoration: none;
}
.catalog__description {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 28px;
}
.catalog__item {
  &:hover .catalog__description {
    box-shadow: 0 6px 10px 0 #ebebeb;
  }
  &:active .catalog__description {
    box-shadow: 0 3px 5px 0 #ebebeb;
  }
}
.catalog__size {
  font-size: 13px;
  line-height: 30px;
  font-weight: 400;
  color: $second-color;
}
.catalog__price {
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
}
.catalog__buy {
  padding-top: 25px;
  border-top: 1px solid $bg-color;
}
.catalog__cart {

}

@media #{$tablet-width} {
  .catalog {

  }
  .catalog__item {
    min-height: 335px;
    flex-direction: row;
  }
  .catalog__caption-name {
    font-size: 20px;
  }
  .catalog__size {
    font-size: 15px;
  }
  .catalog__buy {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
  }
  .catalog__price {
    font-size: 17px;
  }
}

@media #{$desktop-width} {
  .catalog {
    flex-direction: row;
    justify-content: space-between;
  }
  .catalog__item {
    flex-direction: column;
    width: 315px;
  }
  .catalog__buy {
  margin-top: auto;
  }
}
