.catalog {
  @include container;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Open Sans', sans-serif;
  color: #000000;
  &__caption {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  }
  &__caption-name {
    color: #000000;
    text-decoration: none;
  }
  &__description {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 28px;

  }
  &__buy {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
  }
  &__size {
  font-size: 13px;
  line-height: 30px;
  font-weight: 400;
  color: #444444;
  }
  &__item {
    width: 100%;
    display: flex;
  }
  &__price {
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
  }
  &__cart {

  }
}

@media #{$tablet-width} {
  .catalog {
    &__item {
      display: flex;
    }
  }
}

@media #{$desctop-width} {

}
