.catalog {
  outline: 1px solid blue; //Временно
  @include container;
  @include adapive-padding;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Open Sans', sans-serif;
  color: $main-color;
  &__item {
    display: flex;
    flex-direction: column;
    outline: 1px solid green; //Временно
    width: 100%;
    display: flex;
  }
  &__caption {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  }
  &__caption-name {
    color: $main-color;
    text-decoration: none;
  }
  &__description {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 28px;
  }
  &__size {
  font-size: 13px;
  line-height: 30px;
  font-weight: 400;
  color: $second-color;
  }
  &__price {
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
  }
  &__cart {

  }
}

@media #{$tablet-width} {
  .catalog {
    &__item {
      min-height: 335px;
      flex-direction: row;
    }
    &__caption-name {
      font-size: 20px;
    }
    &__size {
      font-size: 15px;
    }
    &__buy {
      margin-top: auto;
    }
    &__price {
      font-size: 17px;
    }
  }
}

@media #{$desctop-width} {
  .catalog {
    flex-direction: row;
    justify-content: space-between;
    &__item {
      flex-direction: column;
      width: 315px;
    }
    &__buy {
    margin-top: auto;
    }
  }
}
