.contacts {
  @include container;
  font-family: "Open Sans", "Arial", sans-serif;
  line-height: 30px;
  &__caption {
    @include main-caption;
    padding-left: 30px;
    font-size: 18px;
    line-height: 30px;
  }
  &__table {
    padding-left: 30px;
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
    color: $second-color;
  }
  &__map {
    width: 320px;
  }
}

@media #{$tablet-width} {
  .contacts {
    &__table {
      font-size: 17px;
    }

  }
}

@media #{$desctop-width} {
  .contacts {
    padding-left: 175px;
    &__caption {

    }

  }
}
