.contacts {
  @include container;
  position: relative;
  padding-top: 37px;
  font-family: "Open Sans", "Arial", sans-serif;
  line-height: 30px;
}
.contacts__caption {
  @include main-caption;
  padding-left: 30px;
  margin-bottom: 23px;
  font-size: 18px;
  line-height: 30px;
}
.contacts__icon-flag {
  display: none;
}
.contacts__table {
  padding-left: 27px;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  color: $second-color;
}
.contacts__table-parametr {
  width: 75px;
  vertical-align: top;
}
.contacts__item {
  &:last-child td {
    padding-bottom: 35px;
  }
}
.contacts__table-value {
  padding-bottom: 26px;
  padding-right: 20px;
}
.contacts__mailto {
  display: inline-block;
  border-bottom: 1px solid #62d1ba;
  color: $second-color;
  text-decoration: none;
  &:hover {
    color: $decor-color;
  }
  &:active {
    color: #d3ede8;
    border-color: #d3ede8;
  }
}
.contacts__map {
  position: relative;
  width: 320px;
  height: 457px;
  margin-bottom: 30px;
  background: url("../img/icons/icon-map-pin.svg") center no-repeat,
              url("../img/map-mobile@1x.jpg") no-repeat;
  @media #{$retina} {
    background: url("../img/icons/icon-map-pin.svg") center no-repeat,
                url("../img/map-mobile@2x.jpg") no-repeat;
    background-size: auto, contain;
  }
/*  &::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    width: 67px;
    height: 100px;
    transform: translate(-55%, -68%);
    background: url("../img/icons/icon-map-pin.svg") no-repeat;
    z-index: 0;
  }*/
}
.contacts__btn {
  width: 260px;
  margin-left: 30px;
  margin-bottom: 40px;
  letter-spacing: 1px;
}

@media #{$tablet-width} {
  .contacts {
    display: flex;
    flex-direction: column;
    padding-top: 63px;
  }
  .contacts__caption {
    padding-left: 50px;
    margin-bottom: 43px;
  }
  .contacts__icon-flag {
    display: block;
    position: absolute;
    width: 47px;
    height: 81px;
    top: 47px;
    right: 50px;
  }
  .contacts__table {
    padding-left: 50px;
    margin-bottom: 17px;
    font-size: 17px;
  }
  .contacts__table-body {
    display: flex;
  }
  .contacts__table-value {
    padding-bottom: 0;
    width: 250px;
  }
  .contacts__map {
    width: 768px;
    height: 457px;
    margin-bottom: 55px;
    background: url("../img/icons/icon-map-pin.svg") center no-repeat,
                url("../img/map-tablet@1x.jpg") no-repeat;
    @media #{$retina} {
      background: url("../img/icons/icon-map-pin.svg") center no-repeat,
                  url("../img/map-tablet@2x.jpg") no-repeat;
      background-size: auto, contain;
  }
  }

  .contacts__map img {
    width: 768px;
  }
  .contacts__btn {
    align-self: center;
    width: 230px;
    margin-bottom: 55px;
    margin-left: 0;
  }
  }

@media #{$desktop-width} {
  .contacts {
    padding-top: 147px;
    padding-left: 175px;
    margin-bottom: 25px;
  }
  .contacts__icon-flag {
    top: 139px;
    left: 117px;
  }
  .contacts__table {
    margin-bottom: 40px;
  }
  .contacts__table-body {
    flex-direction: column;
  }
  .contacts__item {
    &:first-child td {
      padding-bottom: 25px;
    }
  }
  .contacts__map {
    position: absolute;
    top: 77px;
    right: 45px;
    margin-bottom: 0;
    width: 525px;
    height: 457px;
    background: url("../img/icons/icon-map-pin.svg") center no-repeat,
                url("../img/map-desktop@1x.jpg") no-repeat;
    @media #{$retina} {
      background: url("../img/icons/icon-map-pin.svg") center no-repeat,
                  url("../img/map-desktop@2x.jpg") no-repeat;
      background-size: auto, contain;
    }
  }
  .contacts__btn {
    align-self: flex-start;
    margin-bottom: 80px;
    margin-left: 50px;
  }
}
