.contacts {
  @include container;
  font-family: 'Open Sans', sans-serif;
  line-height: 30px;
  &__caption {
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
    color: $main-color;
  }
  &__table {
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
    color: $second-color;
  }
  &__map {
    margin-left: -30px;
  }
}

@media #{$tablet-width} {
  .contacts {
    &__map {
      margin-left: 0;
    }
  }
}
