.goods-week {
  @include container;
  font-family: 'Open Sans', sans-serif;
  &__name {
    font-size: 25px;
    line-height: 30px;
    font-weight: bold;
    color: $main-color;
  }
  &__subject {
    font-size: 17px;
    line-height: 20px;
    font-weight: bold;
    color: #63d1bb;
  }
  &__description {
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    color: $second-color;
  }
  &__price {
    font-size: 17px;
    line-height: 24px;
    font-weight: 700;
    color: $second-color;
  }
  &__caption {
    @include main-caption;
  }
}


@media #{$tablet-width} {
  .goods-week {
    &__subject {
      line-height: 17px;
    }
    &__description {
      font-size: 17px;
      line-height: 30px;
    }
    &__price {
      font-size: 20px;
    }
  }
}

@media #{$desctop-width} {
  .goods-week {

  }
}
