.main-menu {
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: $main-color;
  &__items {
    @include padding-margin-0;
    display: flex;
    flex-direction: column;
    list-style: none;
  }
  &__item {
      padding: 27px 0 27px 45px;
  }
  &__item-link {
    color: $main-color;
    text-decoration: none;
  }
}

@media #{$mobile-width-only} {
  .main-menu {
    display: none;
    &--no-js {
      display: block;
    }
  }
}

@media #{$tablet-width} {
  .main-menu {
    font-size: 15px;
    color: $main-color;
    &__items {
      flex-direction: row;
    }
    &__item {
      font-size: 15px;
    }
    &__item-link {

    }
  }
}

@media #{$desctop-width} {

}
