.main-page-header {
  @include container;
  padding: 22px 0;
  background-color: $bg-color;
  &__flex-wrap {
  display: flex;
  justify-content: space-between;
  }
  &__logo img{
    text-align: center;
  }
}
