.modal-cart {
  position: fixed;
  top: 50vh;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  margin: 0 auto;
  padding: 35px 30px 45px 30px;
  font-family: "Open Sans", "Arial", sans-serif;
  background-color: #c4aea8; //временно
  outline: 1px solid red; //временно
}
.modal-cart--invisible {
  display: none;
}
.modal-cart--visible {
  display: block;
}
.modal-cart__caption {
  width: 150px;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: $main-color;
  text-align: center;
}
.modal-cart__text {
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  color: $second-color;
}
.modal-cart__form {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  color: $second-color;
}
.modal-cart__size-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  width: 260px;
}
.modal-cart__label {
  position: relative;
  text-align: center;
  width: 82px;
  height: 52px;
  border: 2px solid #ececec;
  &:active {
    border-color: $decor-color;
  }
}
.modal-cart__item {
  display: none;
}
.modal-cart__btn {
  color: #ffffff;
  background-color: $decor-color;
  border: none;
}

@media #{$tablet-width} {
  .modal-cart {
    width: 567px;
    padding: 45px 109px;
  }
  .modal-cart__caption {
    width: auto;
  }
  .modal-cart__size-wrap {
    width: 350px;
  }
  .modal-cart__label {
    width: 112px;
    height: 52px;
  }
}

@media #{$desktop-width} {
  .modal-cart {

  }
}
