.modal-cart {
  display: none;
  font-family: "Open Sans", "Arial", sans-serif;
  &__caption {
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: $main-color;
  }
  &__text {
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  color: $second-color;
  }
  &__form {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  color: $second-color;
  }
  &__label {

  }
  &__item {

  }

}
