.order-form {
  @include container;
  @include adapive-padding;
  &__description {
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: $second-color;
  }
  &__block {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 45px;
    padding-bottom: 45px;
    outline: 1px solid grey;
  }
  &__tag-form {
    font-family: "Open Sans", "Arial", sans-serif;
  }
  &__legend {
    position: absolute;
    top: 0;
    font-size: 17px;
    line-height: 16px;
    font-weight: 700;
    color: #63d1bb;
  }
  &__label {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 17px;
    line-height: 18px;
    font-weight: 700;
    color: $main-color;
  }
  &__note {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: $second-color;
  }
}

@media #{$tablet-width} {
  .order-form {
    &__description {
      font-size: 17px;
      line-height: 30px;
    }
    &__label {
      font-size: 19px;
    }
    &__block {
      padding-left: 167px;
    }
    &__block--bg-color {
      background-color: $bg-color;
    }
    &__block--flex {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
    }
    &__block--flex label{
      width: 250px;
    }
    &__block--length input {
      width: 100%;
    }
    &__label {
      padding-top: 17px;
      padding-bottom: 17px;
    }
    &__legend {
      left: 0;
      top: 65px;
    }
    &__note {
      font-size: 17px;
      line-height: 30px;
    }
  }
}

@media #{$desktop-width} {
  .order-form {
    &__block {
      padding-left: 175px;
    }
  }
}
