.order-form {
  @include container;
  padding-bottom: 50px;
  &__description {
    margin-bottom: 25px;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: $second-color;
  }
  &__block {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 30px;
    padding-bottom: 40px;
    outline: 1px solid blue;
  }
  &__label {
    position: relative;
    padding-top: 20px;
    padding-bottom: 23px;
    font-size: 17px;
    line-height: 18px;
    font-weight: 700;
    color: $main-color;
  }
  &__tag-form {
    font-family: "Open Sans", "Arial", sans-serif;
  }
  &__legend {
    position: absolute;
    top: 0;
    font-size: 17px;
    line-height: 16px;
    font-weight: 700;
    color: #63d1bb;
    text-transform: uppercase;
  }
  &__note {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: $second-color;
  }
  input[placeholder] {
    font-size: 17px;
  }
  textarea[placeholder] {
    font-size: 17px;
    padding-top: 14px;
    padding-left: 16px;
  }
  &__input-phone,
  &__input-email,
  &__input-wish {
    width: 100%;
    background-color: $bg-color;
    border: none;
    outline: none;
    border-bottom: 2px solid $main-color;
  }
  textarea {
    min-height: 143px;
    border: 2px solid $main-color;
    resize: none;
    background-color: #ffffff;
  }
  input:hover,
  textarea:hover,
  input:focus,
  textarea:focus {
    border-color: $decor-color;
  }
}

//Стилизация переключателей формы radiobutton
.order-form__block--type-switch {
  input {
    display: none;
  }
  label {
    padding-bottom: 4px;
    padding-left: 62px;
  }
  span {
    @include input-style;
    border-radius: 50%;
  }
  span:hover {
    border-color: $decor-color;
  }
  span:active {
    border-color: #c7c7c7;
  }
  input:checked + span::after {
    position: absolute;
    content: "";
    top: 10px;
    left: 10px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: $decor-color;
  }
}

//Стилизация переключателей формы checkbox
.order-form__block--color-switch {
  padding-bottom: 20px;
  input {
    display: none;
  }
  label {
    padding-left: 62px;
  }
  span {
    @include input-style;
  }
  span:hover {
    border-color: $decor-color;
  }
  span:active {
    border-color: #c7c7c7;
  }
  input:checked + span::after {
    position: absolute;
    content: "";
    top: 7px;
    left: 20px;
    width: 3px;
    height: 22px;
    background-color: $second-color;
    transform: rotate(45deg);
  }
  input:checked + span::before {
    position: absolute;
    content: "";
    top: 18px;
    left: 10px;
    width: 3px;
    height: 10px;
    background-color: $second-color;
    transform: rotate(-45deg);
  }
}

//Блок ФИО
.order-form__block-full-name {
  padding-top: 25px;
  padding-bottom: 27px;
  span {
    display: inline-block;
    margin-bottom: 5px;
  }
  input {
    height: 45px;
    border: none;
    outline: none;
    border-bottom: 2px solid $main-color;
  }
  input:hover {
    border-color: $decor-color;
  }
  input:focus {
    border-color: $decor-color;
  }
  label {
    padding-bottom: 0px;
    margin-bottom: 5px;
  }
}

//Блок телефон
.order-form__block--phone {
  padding-top: 40px;
  padding-bottom: 10px;
  label {
    padding-top: 0;
  }
  input {
    padding-bottom: 10px;
  }
}

//Блок почта
.order-form__block--email {
  padding-top: 40px;
  padding-bottom: 10px;
  label {
    padding-top: 0;
  }
  input {
    padding-bottom: 10px;
  }
}

//Блок пожелание
.order-form__block--wish {
  padding-top: 43px;
  padding-bottom: 0;
  label {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.order-form__send-block {
  p {
    padding-bottom: 16px;
  }
}

@media #{$mobile-width-only} {
  .order-form {
    padding-left: 30px;
    padding-right: 30px;
    &__block-full-name input {
      width: 100%;
    }
    input {
      background-color: #ffffff;
    }
  }
}

@media #{$tablet-width} {
  .order-form {
    input[placeholder] {
      font-size: 19px;
    }
    &__description {
      font-size: 17px;
      line-height: 30px;
      margin-bottom: 10px;
      padding-left: 50px;
      padding-right: 50px;
    }
    &__label {
      font-size: 19px;
      padding-top: 17px;
      padding-bottom: 17px;
    }
    &__block {
      padding-right: 50px;
      padding-left: 217px;
    }
    //убрать
    &__block--bg-color {
      background-color: $bg-color;
    }
    &__block--flex {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
    }
    &__block--flex label{
      width: 250px;
    }
    &__block--length input {
      width: 100%;
    }
    &__legend {
      left: 50px;
      top: 65px;
    }
    &__send-block {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 50px;
      padding-right: 50px;
    }
    &__note {
      order: 1;
      font-size: 17px;
      line-height: 30px;
    }
    &__btn {
      width: 230px;
      height: 52px;
    }
  }

//Блок Тип - Tablet
  .order-form__block--type-switch {
    padding-top: 37px;
    input {
      padding-left: 18px;
    }
    input:checked + span::after {
      width: 23px;
      height: 23px;
      top: 12px;
      left: 13px;
    }
    label {
      padding-top: 28px;
      padding-bottom: 28px;
      padding-left: 82px;
    }
  }

//Блок цвет - Tablet
  .order-form__block--color-switch {
    padding-top: 50px;
    padding-bottom: 25px;
    padding-right: 30px;
    span {
      top: 0;
    }
    label {
      margin-bottom: 24px;
      padding-left: 81px;
    }
    label:nth-child(even) {
      margin-right: 12px;
    }
    input:checked + span::after {
      top: 10px;
      left: 30px;
      width: 3px;
      height: 30px;
    }
    input:checked + span::before {
      top: 22px;
      left: 15px;
      width: 3px;
      height: 16px;
    }
  }
//Блок ФИО - Tablet
  .order-form__block-full-name {
      display: flex;
      padding-top: 55px;
      padding-bottom: 20px;
    label {
      display: flex;
      padding-top: 0;
      margin-bottom: 32px;
    }
    span {
      padding-right: 25px;
      display: inline-block;
      align-self: center;
    }
    input {
      flex-grow: 1;
      padding-left: 17px;
    }
  }
//Блок телефон - Tablet
  .order-form__block--phone {
    padding-top: 62px;
    padding-bottom: 0;
    input {
      padding-left: 15px;
      padding-bottom: 13px;
    }
  }

//Блок почта - Tablet
  .order-form__block--email {
    padding-top: 22px;
    padding-bottom: 30px;
    .order-form__legend {
      top: 25px;
    }
    label {

    }
    input {
      padding-left: 15px;
      padding-bottom: 13px;
    }
  }

//Блок пожелание - Tablet
  .order-form__block--wish {
    padding-top: 53px;
    padding-bottom: 40px;
    .order-form__legend {
      top: 70px;
    }
    textarea[placeholder] {
      font-size: 19px;
      padding-top: 12px;
      padding-left: 16px;
    }
  }

//Блок с кнопкой отправки формы - Tablet
  .order-form__send-block {
    padding-top: 10px;
    p {
      margin: 0;
      padding-bottom: 0;
    }
  }
}

@media #{$desktop-width} {
  .order-form {
    &__description {
      padding-left: 225px;
      padding-right: 225px;
    }
    &__block {
      padding-left: 225px;
      padding-right: 225px;
    }
    &__block--color-switch {
      padding-right: 50px;
    }
    &__legend {
      left: 110px;
      top: 65px;
    }
    &__send-block {
      padding-left: 225px;
      padding-right: 225px;
    }
  }

//Блок Тип - Desktop
  .order-form__block--type-switch {
    .order-form__legend {
      left: 113px;
    }
  }

//Блок цвет - Desktop
  .order-form__block--color-switch {
    label {
      width: 263px;
    }
    label:nth-child(even) {
      margin-right: 0;
    }
  }
//Блок с кнопкой отправки формы - Desktop
  .order-form__send-block {
    padding-top: 6px;
    p {
      margin: 0;
      padding-bottom: 0;
    }
  }
}
