.page-footer {
  @include container;
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  background-color: #f1f1f1;
  &__copyright span {
    font-size: 19px;
    line-height: 18px;
  }
}

@media #{$tablet-width} {
  .page-footer {
    flex-direction: row;
    justify-content: space-between;
  }
}

//Десктоп
@media #{$desctop-width} {

}
