.page-header {
  @include container;
  @include adapive-padding;
  padding-top: 22px;
  padding-bottom: 22px;
  background-color: $bg-color;
/*  &__flex-wrap {
  display: flex;
  justify-content: space-between;
  }*/
  &__top {
    position: relative;
    display: block;
  }
  &__logo img{
    text-align: center;
  }
  &__caption {
  @include main-caption;
  }
}

@media #{$mobile-width-only} {
  .page-header {
    &__menu-btn {
      position: absolute;
      width: 20px;
      height: 20px;
      top: 6px;
      right: 0;
      font-size: 0;
      border: none;
      &--closed { //js включен, меню закрыто
          &::before {
            content: "";
            position: absolute;
            top: 4px;
            left: 0;
            height: 2px;
            width: 20px;
            background-color: #000000;
            box-shadow: 0 6px #000000,
                        0 12px #000000;
          }
      }
      &--opened { //js включен, меню открыто
          &::before {
            content: "";
            position: absolute;
            top: 9px;
            left: 0;
            height: 2px;
            width: 20px;
            background-color: #000000;
            transform: rotate(45deg);
          }
          &::after {
            content: "";
            position: absolute;
            top: 9px;
            left: 0;
            height: 2px;
            width: 20px;
            background-color: #000000;
            transform: rotate(-45deg);
          }
      }
      &--no-js { //js выключен
          display: none;
      }
    }
  }
}
