.page-footer {
  @include container;
  @include adapive-padding;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 160px;
  font-family: "Open Sans", "Arial", sans-serif;
  background-color: $bg-color;
}
.page-footer__social {
  display: flex;
  justify-content: space-between;
  width: 142px;
  min-height: 30px;
  font-size: 0;
}
.page-footer__social-item svg {
  width: 24px;
  height: 29px;
  @include hover-active-fill;
}
.page-footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 35px;
  min-width: 183px;
}
.page-footer__copyright-link {
  font-size: 0;
}

.page-footer__copyright-link svg {
  fill: $decor-color;
  width: 27px;
  height: 34px;
  @include hover-active-fill;
}

.page-footer__copyright {
  position: relative;
}
.page-footer__copyright span {
  font-size: 19px;
  line-height: 18px;
  font-weight: bold;
}

@media #{$mobile-width-only} {
  .page-footer {
    padding-top: 25px;
    padding-bottom: 25px;
    justify-content: space-between;
  }
  .page-footer__logo--mob-hidden {
    display: none;
  }
}


@media #{$tablet-width} {
  .page-footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 143px;
  }
  .page-footer__logo {
    margin-right: 75px;
  }
  .page-footer__logo svg {
    width: 100px;
    @include hover-active-fill;
  }
}

//Десктоп
@media #{$desktop-width} {
  .page-footer {

  }
}
