.production-block {
  font-family: 'Open Sans', sans-serif;
  &__caption {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  }
  &__caption-name {
    color: #000000;
    text-decoration: none;
  }
  &__description {
  font-size: 13px;
  line-height: 30px;
  font-weight: 400;
  color: #444444;
  }
}
