.production {
  outline: 1px solid blue; //Временно
  @include container;
  @include adapive-padding;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 58px;
  font-family: "Open Sans", "Arial", sans-serif;
  &__wrapper {
    border: 1px solid $bg-color;
  }
  &__caption {
  position: absolute;
  top: 23px;
  left: 30px;
  width: 260px;
  margin: 0;
  padding-left: 90px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  }
  &__caption-name {
    color: $main-color;
    text-decoration: none;
  }
  &__description {
  padding: 0 30px;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: $second-color;
  }
  &__video {
    padding-top: 96px;
  }
  &__order-btn {
    margin-left: 30px;
    margin-bottom: 35px;
    width: 200px;
  }
}

@media #{$tablet-width} {
  .production {
    &__video {
      padding-top: 0;
    }
    &__caption {
      position: static;
      width: 668px;
      padding: 35px 0;
      padding-left: 105px;

    }
    &__caption-name {
      font-size: 20px;
    }
    &__description {
    font-size: 15px;
    line-height: 30px;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 40px;
    }
    &__order-btn {
      width: 580px;
    }
  }
}

@media #{$desctop-width} {
  .production {
    flex-direction: row;
    &__wrapper {
      display: flex;
    }
    &__caption {
      width: 231px;
      padding-top: 100px;
      padding-bottom: 30px;
      padding-left: 0;
    }
    &__video {
      width: 682px;
    }
    &__block-wrap {
      width: 366px;
      display: flex;
      flex-direction: column;
      padding-left: 80px;
      padding-right: 55px;
    }
    &__order-btn {
      margin-left: 0;
      width: 230px;
    }
    &__description {
      padding: 0;
      margin-bottom: 55px;
    }
  }
}
