.production {
  @include container;
  @include adapive-padding;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 60px;
  font-family: "Open Sans", "Arial", sans-serif;
}
.production__wrapper {
  &:hover {
    box-shadow: 0 6px 10px 0 #ebebeb;
  }
  &:active {
    box-shadow: 0 3px 5px 0 #ebebeb;
  }
}
.production__caption {
  position: absolute;
  top: 25px;
  left: 30px;
  width: 260px;
  margin: 0;
  padding-left: 90px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  &::after {
    position: absolute;
    content: "";
    top: 5px;
    left: 35px;
    width: 32px;
    height: 28px;
    background: url("../img/icons/icon-video.svg") no-repeat;
  }
}
.production__block-wrap {
  border: 1px solid $bg-color;
  border-top: none;
}
.production__caption-name {
  color: $main-color;
  text-decoration: none;
}
.production__description {
  margin-top: 0;
  margin-bottom: 25px;
  padding: 0 34px;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: $second-color;
}
.production__video {
  margin-bottom: 20px;
  padding-top: 97px;
}
.production__picture {
  display: inline-block;
  position: relative;
  &::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s;
    width: 101px;
    height: 77px;
    background: url("../img/icons/icon-play.svg") no-repeat;
  }
  &:hover::after {
    transform: translate(-50%, -50%) scale(1.2);
  }
  &:active::after {
    opacity: 0.3;
  }
}

.production__order-btn {
  margin-left: 34px;
  margin-bottom: 32px;
  width: 192px;
  line-height: 16px;
}

@media #{$tablet-width} {
  .production {
    padding-bottom: 63px;
  }
  .production__video {
    padding-top: 0;
    margin-bottom: 0;
  }
  .production__ block-wrap {
    display: flex;
    flex-direction: column;
  }
  .production__caption {
    position: relative;
    top: 0;
    left: 0;
    width: 668px;
    padding: 32px 0;
    padding-left: 105px;
    &::after {
      left: 40px;
      top: 30px;
    }
  }
  .production__caption-name {
    font-size: 20px;
  }
  .production__description {
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 35px;
    font-size: 15px;
    line-height: 30px;
  }
  .production__order-btn {
    width: 584px;
    margin-left: 40px;
    margin-bottom: 45px;
    align-self: center;
  }
}

@media #{$desktop-width} {
  .production {
    padding-bottom: 0;
    margin-bottom: 105px;
    flex-direction: row;
  }
  .production__wrapper {
    display: flex;
  }
  .production__caption {
    width: 231px;
    padding-top: 95px;
    padding-bottom: 30px;
    padding-left: 0;
    &::after {
      left: 0;
      top: 42px;
    }
  }
  .production__video {
    height: 455px;
    width: 682px;
  }
  .production__block-wrap {
    width: 366px;
    padding-left: 80px;
    padding-right: 55px;
    border-left: none;
  }
  .production__order-btn {
    margin-left: 0;
    width: 230px;
  }
  .production__description {
    padding: 0;
    margin-bottom: 48px;
  }
}
