.promo {
  @include container;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 490px;
  margin-top: 15px;
  background: #fafafa url("../img/hero-mobile@1x.jpg") no-repeat;
  background-position: top -18px center;
  @media #{$retina}  {
    background: #fafafa url("../img/hero-mobile@2x.jpg") no-repeat;
    background-position: top center;
    background-size: auto 372px;
  }
}
.promo__list {
  position: relative;
  display: block;
  padding: 27px 30px;
  color: #ffffff;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
  background-color: #63d1bb;
  &:hover {
    background-color: #59d5bc;
  }
  &:active {
    background-color: #59d5bc;
    color: #97e2d2;
  }
}
.promo__list-wrapper {
  a:hover {
    color: #ffffff;
  }
  a:active {
    color: #8dd5c9;
  }
}
.promo__list svg {
  position: absolute;
}
.promo__list span {
  width: 60%;
  display: inline-block;
}
.promo__list--interior {
  background: #63d1bb;
  &:hover {
    background-color: #59d5bc;
  }
  &:active {
    background-color: #59d5bc;
  }
  svg {
    top: 20px;
    right: 35px;
    width: 41px;
    height: 62px;
    fill: #149080;
    opacity: 0.5;
  }
  &:hover svg {
    opacity: 0.7;
  }

  &:active svg{
    opacity: 0.3;
  }
}

.promo__list--toy {
  background-color: #56c3b2;
  &:hover {
    background-color: #46c1ae;
  }
  &:active {
    background-color: #46c1ae;
  }
  svg {
    top: 18px;
    right: 25px;
    width: 61px;
    height: 61px;
    fill: #149080;
    opacity: 0.5;
  }
  &:hover svg {
    opacity: 0.7;
  }
  &:active svg {
    opacity: 0.3;
  }
}

.promo__caption {
  @include main-caption;
  text-align: center;
  background-color: transparent;
  padding: 0 35px;
  margin-bottom: 125px;
}

@media #{$tablet-width} {
  .promo {
    position: relative;
    background: #fafafa url("../img/hero-desktop@1x.jpg") no-repeat;
    background-position: top center;
    height: 745px;
    margin-top: 0;
    &::after {
      position: absolute;
      content: "";
      bottom: -10px;
      left: 0;
      height: 22.8px;
      width: 100%;
      background: url(../img/icons/bg-zigzag-fill.svg) repeat-x left top;
      background-size: cover;
    }
    @media  #{$retina}  {
      background: #fafafa url("../img/hero-desktop@2x.jpg") no-repeat;
      background-position: top center;
      background-size: auto 746px;
    }
  }
  .promo__caption {
    padding: 0 100px;
    margin-bottom: 375px;
  }
  .promo__list-wrapper {
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
  }
  .promo__list {
    width: 384px;
    padding-left: 35px;
    padding-right: 150px;
    font-size: 20px;
    line-height: 30px;
  }
}

@media #{$desktop-width} {
  .promo {
    &::after {
      bottom: -5px;
    }
  }
  .promo__caption {
    padding: 0 225px;
    margin-bottom: 356px;
    font-size: 53px;
    line-height: 57px;
  }
  .promo__list {
    width: 575px;
    padding-right: 250px;
    min-height: 118px;
  }
  .promo__list--interior svg {
    top: 30px;
  }
  .promo__list--toy svg {
    top: 30px;
    right: 33px;
  }
}
