.promo {
  @include container;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 490px;
  background: #fafafa url("../../img/hero-mobile@1x.jpg") no-repeat;
  background-position: top -15px center;

  &__list {
    position: relative;
    display: block;
    padding: 27px 30px;
    color: #ffffff;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 19px;
    line-height: 24px;
    font-weight: bold;
    background-color: #63d1bb;
  }
  &__list span {
    width: 60%;
    display: inline-block;
  }
  &__list--color {
    background-color: #56c3b2;
  }
  &__caption {
    @include main-caption;
    text-align: center;
    background-color: transparent;
    padding: 0 35px;
    margin-bottom: 120px;
  }
}

@media #{$tablet-width} {
  .promo {
    &__caption {
      padding: 0 100px;
    }
    &__list-wrapper {
      display: flex;
      justify-content: space-between;
    }
    &__list {
      width: 384px;
      padding-left: 35px;
      padding-right: 150px;
      font-size: 20px;
      line-height: 30px;
    }
  }
}

@media #{$desctop-width} {
  .promo {
    &__caption {
      padding: 0 225px;
      font-size: 53px;
      line-height: 57px;
    }
    &__list {
      width: 575px;
      padding-right: 250px;
      min-height: 121px;
    }
  }
}
