.reviews {
  @include container;
  @include adapive-padding;
  position: relative;
  padding-top: 20px;
  padding-bottom: 50px;
  font-family: "Open Sans", "Arial", sans-serif;
  line-height: 30px;
}
.reviews__caption {
  @include main-caption;
  margin-bottom: 25px;
}
.reviews__text {
  margin: 0;
  margin-bottom: 25px;
  font-size: 15px;
  color: $second-color;
 }
 .reviews__autor-name {
  margin-bottom: 5px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: $main-color;
 }
 .reviews__autor {
  margin-bottom: 28px;
 }
 .reviews__autor-email {
  font-size: 17px;
  line-height: 30px;
  color: $second-color;
 }
 .reviews__autor-info {
  margin-bottom: 38px;
 }
 .reviews__btns {
  display: flex;
  height: 52px;
 }
 .reviews__btn {
  width: 50%;
  font-size: 0;
  border: 1px solid #ececec;
  background-color: #ffffff;
  outline: none;
  &:hover {
    fill: #666666;
  }
  &:active {
    fill: #b2b2b2;
  }
 }

 .reviews__btn--prev svg,
 .reviews__btn--next svg {
  width: 51px;
  height: 26px;
 }


@media #{$tablet-width} {
  .reviews {
    position: relative;
    padding-top: 118px;
    padding-bottom: 10px;
    &::before {
      position: absolute;
      content: "";
      z-index: -1;
      top: 40px;
      left: 0;
      width: 350px;
      height: 457px;
      background: #f4f4f4 url("../img/review@1x.jpg") no-repeat;
    }
    &::after {
      position: absolute;
      content: "";
      bottom: 0;
      left: 0;
      height: 16px;
      width: 100%;
      background: url(../img/icons/bg-zigzag-line.svg) no-repeat center top;
      background-size: cover;
    }
  }
  .reviews__caption {
    margin-bottom: 50px;
  }
  .reviews__text {
    margin-bottom: 57px;
    font-size: 17px;
  }
  .reviews__autor-name {
    font-size: 17px;
  }
  .reviews__autor-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 90px;
 }
  .reviews__btns {
    width: 175px;
  }
  .reviews__btn {
    border: none;
  }
  .reviews__write-review {
    position: absolute;
    top: 120px;
    right: 50px;
    width: 175px;
  }
}

@media #{$tablet-width} and #{$retina}  {
  .reviews:after {
      background: #f4f4f4 url("../img/review@2x.jpg") no-repeat;
    }
}


@media #{$desktop-width} {
  .reviews {
    padding-left: 225px;
    padding-bottom: 60px;
    &::after {
      bottom: -10px;
      height: 24px;
    }
    &::before {
      top: 50px;
      left: 50px;
    }
  }
  .reviews__write-review {
    top: 130px;
  }
  .reviews__text {
    padding-right: 100px;
    margin-bottom: 38px;
  }
}
