.reviews {
  @include container;
  @include adapive-padding;
  font-family: "Open Sans", "Arial", sans-serif;
  line-height: 30px;

  &__caption {
    @include main-caption;
  }
  &__text {
    font-size: 15px;
    color: $second-color;
   }
   &__autor {
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    color: $main-color;
   }
   &__email {
    font-size: 17px;
    color: $second-color;
   }
   &__text {
    margin: 0;
   }
}

@media #{$tablet-width} {
  .reviews {
    &__autor {
      font-size: 17px;
    }
    &__text {
      font-size: 17px;
    }
  }
}

@media #{$desctop-width} {
  .reviews {
    padding-left: 175px;
  }
}
